<body style="background-color:powderblue;">

<h1 style="font-size: 300%;text-align:center;"> Welcome to the Entrepreneur Junto Blog</h1>

<img src="https://i.ytimg.com/vi/yKk3WDSFOos/maxresdefault.jpg" width="800";height="450";>

<h2> What We Do:</h2>

<p>
  Considered the bible of New York City real estate, The Real Deal has become mandatory reading for everyone in the industry. 
Since 2003, TRD has provided up-to-the-minute industry news and in-depth reports and profiles in our 60,000-circulation monthly magazine 
and on TheRealDeal.com, which receives more than 1 million unique visitors per month. Our content is available across multiple platforms, 
including a mobile app available to iPhone, iPad and Android users alike.
</p>

<p>
  The Real Deal has been repeatedly recognized for its prowess in real estate media, 
  receiving the Society of American Business Editors and Writers’ 2013 award for general excellence. 
  In 2016, TRD won a record 12 awards from the National Association of Real Estate Editors, 
  including the gold for best residential trade magazine and a silver award for best commercial trade magazine.
</p>

<%= link_to 'About', about_path %>

</body>